<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step>
        <form>
            <ng-template matStepLabel>Warmup</ng-template>
            <ng-container *ngIf="warmupTimer$ | async as warmupTimer">
                <mat-progress-spinner color="accent" mode="determinate" [value]="warmupTimer.percent">
                </mat-progress-spinner>
                <span class="time">{{warmupTimer.time.toFormat("mm:ss")}}</span>
            </ng-container>
        </form>
        <div class="actions">
            <button mat-button color="accent" title="Start warmup" class="btn-done" (click)="startWarmup()">Start
                warmup</button>
            <button mat-button matStepperNext title="Done" class="btn-done">Done</button>
        </div>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>Exercises</ng-template>
            <!-- <div>
                <button mat-button matStepperNext>Next</button>
            </div> -->
        </form>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>Interval</ng-template>
            <!-- <div>
                <button mat-button matStepperNext>Next</button>
            </div> -->
        </form>
    </mat-step>
</mat-vertical-stepper>