<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step>
    <ng-container *ngIf="warmupTimer$ | async as warmupTimer">
      <form>
        <ng-template matStepLabel>Warmup</ng-template>
        <mat-progress-spinner color="accent" mode="determinate" [value]="warmupTimer.percent" [diameter]="220"
          [strokeWidth]="8">
        </mat-progress-spinner>
        <span class="time">{{ warmupTimer.time.toFormat('mm:ss') }}</span>
      </form>
      <div class="actions">
        <button mat-button color="accent" title="Start" (click)="startWarmup()"
          [disabled]="warmupTimer.status === 'running'">
          <mat-icon>play_arrow</mat-icon>Start
        </button>
        <button mat-button title="Pauze" (click)="pauseWarmup()"
          [disabled]="warmupTimer.status === 'stopped' || warmupTimer.status === 'paused'">
          <mat-icon>pause</mat-icon>Pauze
        </button>
        <button mat-button title="Reset" (click)="resetWarmup()" [disabled]="warmupTimer.status === 'stopped'">
          <mat-icon>replay</mat-icon>Reset
        </button>
      </div>
    </ng-container>
    <button mat-raised-button color="primary" matStepperNext title="Start exercises">Start exercises</button>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Exercises</ng-template>
      <!-- <div>
                <button mat-button matStepperNext>Next</button>
            </div> -->
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Interval</ng-template>
      <!-- <div>
                <button mat-button matStepperNext>Next</button> 
            </div> -->
    </form>
  </mat-step>
</mat-vertical-stepper>