form
    margin-top: 1em
    margin-left: 1em
    margin-right: 1em
    
    .counter
        display: flex
        justify-content: space-evenly
        button
            margin-top: 0.5em

    .slider
        display: flex
        align-items: center
        mat-slider
            flex-grow: 1
        
        label
            padding-left: 1em