<form #schemaForm="ngForm">

    <h3 id="warmup">Warmup</h3>
    <div class="slider">
        <mat-slider [max]="60" [min]="0" [step]="5" [thumbLabel]="true" [tickInterval]="1" [(ngModel)]="schema.warmup"
            name="formWarmup" aria-labelledby="warmup">
        </mat-slider>
        <label>{{schema.warmup}} minutes</label>
    </div>

    <hr />
    <ol class="list-group list-group-numbered list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let exercise of schema.exercises">
            Reps {{exercise.reps}} & Sets {{exercise.sets}}
            <button class="btn btn-secondary" title="Remove excercise" (click)="removeExercise(exercise)">-</button>
        </li>
    </ol>

    <h3>Exercises</h3>

    <mat-list role="excercise">
        <mat-list-item role="exercise" *ngFor="let exercise of schema.exercises">Reps {{exercise.reps}} & Sets
            {{exercise.sets}}</mat-list-item>
    </mat-list>

    <div class="counter">
        <button mat-mini-fab type="button" title="Minus rep" (click)="minusRep()">
            <mat-icon>add</mat-icon>
        </button>
        <mat-form-field appearance="fill">
            <mat-label>Reps</mat-label>
            <input matInput type="number" id="reps" [(ngModel)]="schema.exercise.reps" name="formReps" />
        </mat-form-field>
        <button mat-mini-fab type="button" title="Plus rep" (click)="plusRep()">
            <mat-icon>remove</mat-icon>
        </button>
    </div>

    <div class="counter">
        <button mat-mini-fab type="button" title="Minus set" (click)="minusSet()">
            <mat-icon>add</mat-icon>
        </button>
        <mat-form-field appearance="fill">
            <mat-label>Sets</mat-label>
            <input matInput type="number" id="Sets" [(ngModel)]="schema.exercise.sets" name="formSets" />
        </mat-form-field>
        <button mat-mini-fab type="button" title="Plus set" (click)="plusSet()">
            <mat-icon>remove</mat-icon>
        </button>
    </div>

    <button mat-button color="accent" title="Add exercise" (click)="addExercise()">+ Add exercise</button>

    <label class="form-label" for="pauseReps">Pause between reps (sec)</label>
    <input class="form-range" type="range" min="0" max="120" step="10" id="pauseReps" [(ngModel)]="schema.pauseReps"
        name="formPauseReps" />
    <div class="form-text">{{schema.pauseReps}} seconds</div>
    <label class="form-label" for="pauseSets">Pause between sets (sec)</label>
    <input class="form-range" type="range" min="0" max="60" step="5" id="pauseSets" [(ngModel)]="schema.pauseSets"
        name="formPauseSets" />
    <div class="form-text">{{schema.pauseSets}} seconds</div>
    <hr />
    <label class="form-label" for="intervalReps">Interval repetitions</label>
    <input class="form-control" type="number" min="0" max="30" id="intervalReps" [(ngModel)]="schema.intervalReps"
        name="formIntervalReps" />
    <label class="form-label" for="intervalDuration">Interval duration (sec)</label>
    <input class="form-range" type="range" min="0" max="60" step="5" id="intervalDuration"
        [(ngModel)]="schema.intervalDuration" name="formIntervalDuration" />
    <div class="form-text">{{schema.intervalDuration}} seconds</div>
    <label class="form-label" for="intervalPause">Interval pause (sec)</label>
    <input class="form-range" type="range" min="0" max="30" step="5" id="intervalPause"
        [(ngModel)]="schema.intervalPause" name="formIntervalPause" />
    <div class="form-text">{{schema.intervalPause}} seconds</div>
    <button class="btn btn-primary" title="Save schema" (click)="save.emit(schema)">Save schema</button>
</form>